<div class="jumbotron text-center">
	<h1>About Us</h1>
	<h2> Who Are We!?</h2>
	<p> We are two guys who like to get fit (see what I did there).</p>

	<h3> Our Vision </h3>
	<p> To make excersize and health an integrated part of your daily life.</p>
</div>